@import "tailwindcss";

@layer base {
  body {
    /* Fallback to CSS variables or native colors if @apply has issues during build */
    background-color: #f8fafc;
    /* slate-50 */
    color: #0f172a;
    /* slate-900 */
  }
}

@utility no-scrollbar {

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}